.invite-bar-container{
    width: 95% ;
    height: 70px;
    background-color: #ffffff; /* Background of the bar */
    border-radius: 5px;
    overflow: hidden;
    margin-left: 4px;
    display: flex ;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

.vertical-line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    margin-top: 35px;
}

.line {
    width: 1%;
    background-color: white;
    flex-grow: 1;
    display: flex;
    direction: column;
}

.circle {
    width: 20px; /* Diameter of the circle */
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    background-color: white; /* Optional: color inside the circle */
    margin: none; /* Space between circle and line */
    display: flex;
    justify-content: center space-around;
    align-items: center;
    
  }

  .share {
    display: flex;
    justify-content: center;
    margin-left: 150% ;
    margin-top: 460%;
  }