.container {
    text-align: center;
    margin-top: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    cursor: 'pointer'; /*Make sit clickable*/
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: 'pointer';
    border: '2px solid #ccc';
}

